@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Shadows+Into+Light&display=swap");

/* configuraciones iniciales de  css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Shadows Into Light", cursive;
}

h1 {
  font-size: 9vw;
  color: var(--color-section-y-footer);
}

h2 {
  font-size: 3.5em;
  color: #a39d5c;
}

h3 {
  font-size: 2.5em;
  color: #d1ca78;
}

main p {
  font-size: 1.25em;
  color: #3d3b22;
}

footer p li {
  font-size: 1em;
  color: #3d3b22;
}

/* creación de variables en Css */
:root {
  --width-content: 1200px;

  --color-barra-nav: #d6cf7bda;
  --color-fuente-efecto-hoover: #ffffff4d;
  --color-section-y-footer: #eec886c2;
}

/* tamaño que utilizarán los etiquetas que utilizen esta clase */
.width-content {
  margin: 0 auto;
  max-width: var(--width-content);
}

.color-brown {
  background-color: var(--color-section-y-footer);
}

html {
  scroll-behavior: smooth;
}
body {
  background-size: cover;
}

/* HEADER */
header img {
  width: 100%;
}

.title-aves {
  position: absolute;
  top: 25%;
  right: 20%;
  color: var(--color-section-y-footer);
  width: 50vw;
  font-size: 50px;
}

/* NAV */
nav {
  position: sticky;
  top: 0;
  background-color: var(--color-barra-nav);
  z-index: 2;
  margin-top: -5px;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.nav-ul > li {
  list-style: none;
  padding: 20px;
}

.nav-ul > li:hover {
  color: black;
  background-color: var(--color-fuente-efecto-hoover);
  border-radius: 10px;
}

.nav-ul > li > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

/*  main  content container */

/* section white */

article {
  display: flex;
  justify-content: center;
}

article p {
  font-size: 25px;
  text-align: justify;
}

article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}

article img {
  max-width: 100%;
}

/* aves-comunes-section */

#aves-comunes {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

#aves-comunes > h2 {
  margin: 10px 0;
  text-align: center;
}

.comment {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.descripcion-ave-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descripcion-ave-container img {
 width: 100%;
 
} 

/* footer */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}

.contacts > div > img {
  padding-top: 5px;
  width: 20px;
}

.hsg-footer__nav-item {
  list-style-type: none;
}

a.ga_nav_link,
.format-link {
  size: 1em;
  color: #3d3b22;
  text-decoration: none;
}
